{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="card mx-auto" style="width: 18rem;">
            <div class="card-body">
            <div class="card-title">
            <h5 class="card-title">Register</h5>
            <br>
        <div class="form-group">
            <label for="Username">Username</label>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Password" type="password">
            <small id="passwordHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="Confirmation">Re-enter Password</label>
            <input autocomplete="off" autofocus class="form-control" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        </div>
        </div>
    </form>
{% endblock %}
